.question-card {
  transition: all 0.5s ease;
  .h4 {
    font-size: 24px !important;
    font-weight: 400;
  }
  .question {
    // height: 84px;
    padding: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  

  .show {
    animation: show 1s forwards;
    padding: 24px;
  }
  .hide {
    line-height: 0;
    height: 0;
    overflow: hidden;
  }
  .rotate {
    transform: rotate(45deg);
  }
  @keyframes show {
    0% {

    }
    100% {
        height: 100%;
    }
  }
}
