.body {
  input {
    padding: 0.8rem;
    // width: 100%;
  }
  .icon {
    pointer-events: none;
    width: 1rem;
    height: 1rem;
    left: 0.75rem;
    right: auto;
  }
  .label {
    min-width: auto;
    width: auto;
    border: 1px solid rgba(white,.1);
    fill: currentColor;
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    select {
      min-width: auto;
      width: auto;
    }
  }
  h1 {
    font-size: 48px ;
    font-weight: 900;
  }
  p {
    font-size: 24px;
    word-wrap: break-word;
    line-break: strict;
    font-weight: 400;
  }
  .img-logo {
    width: 140px;
  }
  a {
    color: inherit;
  }
  background-color: #232323;
  ::placeholder {
    color: rgba(#9f9f9f, 0.9);
  }

  .text-muted-light {
    color: #d4d3c3;
  }
  .hero {
    background: url("../../../assets/bg.jpg");
    select {
      border: none;
      outline: none;
    }
    .card-overlay {
      background: rgba(black, 0.67);
      .hero-content {
        padding-bottom: 10rem;
      }
      .hero-text-lg {
        margin-top: 12rem;
      }
      .hero-input {
        border: 1px solid rgba(white, 0.5);
        border-radius: 0.1rem;
        background-color: rgba(black, 0.3);
      }
    }
  }

  .section {
    background-color: black;
    color: white;
    margin-top: 0.5rem;
    img {
      opacity: 0.9;
    }
    video {
      display: inline-block;
      vertical-align: baseline;
    }
    .content-container {
      flex-basis: 50%;
      padding: 0;
      z-index: 1;
    }
    .video-container {
      z-index: -1;
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-width: 73%;
      max-height: 54%;
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .section-3 {
    .video-container {
      z-index: -1;
      overflow: hidden;
      width: 100%;
      height: 100%;
      max-width: 63%;
      max-height: 47%;
      position: absolute;
      top: 34%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    video {
      display: inline-block;
      vertical-align: baseline;
    }
  }

  .section-5 {
    .faq-card {
      background-color: #2d2d2d;
    }
    .hero-input {
      border: 1px solid rgba(white, 0.5);
      border-radius: 0.1rem;
      background-color: rgba(black, 0.3);
    }
  }
  .btn-danger-signup {
    background-color: #e50914 !important;
    padding: 12px 24px;
    font-size: 24px ;
    color: white  !important;
  }
}

@media (max-width: 900px) {
  .btn-danger-signup {
    background-color: #e50914 !important;
    padding: 10px 20px !important;
    font-size: 18px ;
    color: white  ;
  }
  input {
    padding: .4rem;
  }
  h1 {
    font-size: 32px !important;
  }
  p {
    font-size: 18px !important;
  }
  .img-logo {
    width: 89px !important;
  }
  .section {
    text-align: center !important;
    img {
      width: 100%;
    }
  }
 
}
