<div class="body text-white">
  <div class="card-overlay">
    <div class="logo ps-5 pt-4 d-flex container">
      <img
        src="../../../assets/logo.png"
        width="150"
        class="img-fluid"
        alt="netflix-logo"
      />
      <div class="ms-auto">
        <select
          name="language"
          id="language"
          class="me-3 p-1 bg-dark text-white"
        >
          <option value="English">English</option>
        </select>
        <div class="btn btn-danger">Sign In</div>
      </div>
    </div>
    <div class="hero-content d-flex flex-column gap-1 justify-content-center align-items-center">
      <div class="hero-text-lg">Unlimited movies, TV shows and more</div>
      <p class="hero-text-md">Watch anywhere. Cancel anytime.</p>
      <p class="hero-text-md">
        Ready to watch? Enter your email to create or restart your membership.
      </p> 
      <div class="d-flex">
        <input type="text" placeholder="Email address" class="hero-input me-2"/>
      <div class="btn btn-lg btn-danger ">Get Started</div>
      </div>
    </div>
    
  </div>
</div>
