<div class="body">
<section>
<section class="hero text-white">
  <div class="card-overlay">
    <div class="logo ps-5 pt-4 d-flex container">
      <img
        src="../../../assets/logo.png"
        width="150"
        class="img-fluid"
        alt="netflix-logo"
      />
      <div class="ms-auto">
        <select
          name="language"
          id="language"
          class="me-3 p-2 bg-dark text-white"
        >
          <option value="English">English</option>
        </select>
        <a class="btn btn-danger" href="signin" routerLinkActive="active">Sign In</a>
      </div>
    </div>
    <div class="hero-content d-flex flex-column gap-1 justify-content-center align-items-center">
      <div class="hero-text-lg">Unlimited movies, TV shows and more</div>
      <p class="hero-text-md">Watch anywhere. Cancel anytime.</p>
      <p class="hero-text-md">
        Ready to watch? Enter your email to create or restart your membership.
      </p> 
      <div class="d-flex">
        <input type="text" placeholder="Email address" class="hero-input me-2 text-white"/>
      <div class="btn btn-lg btn-danger ">Get Started</div>
      </div>
    </div>
  </div>
</section>
</section>
<section class="mt-2 section-1">
  <div class="d-flex align-items-center container p-5">
    <div>
      <div class="h1">Enjoy on your TV</div>
      <div class="h6 mt-3">Watch on smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray players and more.</div>
    </div>
    <div>
      <video src="../../../assets/tv-gif.m4v" autoplay></video>
      <img src="../../../assets/tv.png" alt="picture of a tv with remote">
    </div>
  </div>
</section>
<section class="mt-2 section-2">
  <div class="d-flex align-items-center container p-5">
    <div>
      <img src="../../../assets/mobile.jpg" alt="picture of a mobile phone with stranger things series poster">
    </div>
    <div>
      <div class="h1">Download your shows to watch offline</div>
      <div class="h6 mt-3">Save your favourites easily and always have something to watch.</div>
    </div>
  </div>
</section>
<section class="mt-2 section-3">
  <div class="d-flex align-items-center container p-5">
    <div>
      <div class="h1">Watch everywhere</div>
      <div class="h6 mt-3">Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</div>
    </div>
    <div>
      <video src="../../../assets/s3-video.m4v" autoplay></video>
      <img src="../../../assets/devices.png" alt="picture of a tv with remote">
    </div>
  </div>
</section>
<section class="mt-2 section-4">
  <div class="d-flex align-items-center container p-5">
    <div>
      <img src="../../../assets/kids.png" alt="picture of kids">
    </div>
    <div>
      <div class="h1">Create profiles for kids</div>
      <div class="h6 mt-3">Send children on adventures with their favourite characters in a space made just for them—free with your membership.</div>
    </div>
  </div>
</section>
</div>

