.body {
  a {
    color: inherit;
  }
  background-color: #232323;
  ::placeholder {
    color: rgba(#9f9f9f, 0.9);
  }

  .text-muted-light {
    color: #d4d3c3;
  }
  .hero {
    background: url("../../../assets/bg.jpg");
    select {
      border: none;
      outline: none;
    }
    .card-overlay {
      background: rgba(black, 0.67);
      .hero-content {
        padding-bottom: 10rem;
      }
      .hero-text-lg {
        margin-top: 12rem;
        font-size: 3.2rem;
        font-weight: 700;
      }
      .hero-text-md {
        font-size: 1.4rem;
        font-weight: 400;
      }
      .hero-input {
        border: 1px solid rgba(white,.5);
        border-radius: .1rem;
        background-color: rgba(black,.3);
        padding: 0.8rem;
      }
    }
  }

  .section {
    background-color: black;
    color: white;
    margin-top: .5rem;
    .h1 {
      font-size: 3.2rem;
      font-weight: 700;
    }
    .h6 {
      font-size: 1.4rem;
      word-wrap: break-word;
      line-break: strict;
      font-weight: 400;
    }
    img {
      opacity: .9;
    }
  }

  .section-1,.section-2,.section-4 {
    video {
      position: absolute;
      margin-left: 4.85rem;
      margin-top: 5.9rem;
      transform: scale(.96);
      z-index: 0;
    }
  }

  .section-3 {
    video {
      position: absolute;
      margin-left: 7.3rem;
      margin-top: 3.2rem;
      width: 400px;
      transform: scale(.96);
      z-index: 0;
    }
  }

  .section-5 {
    .faq-card {
      background-color: #2d2d2d;
    }
    .hero-input {
      border: 1px solid rgba(white,.5);
      border-radius: .1rem;
      background-color: rgba(black,.3);
      padding: 0.8rem;
    } 
  }
}

