// * {
//   border:red solid 1px;
// }

.body {
  background: url("../../../assets/bg.jpg");

  .h2 {
    font-weight: 600;
  }

  a {
    text-decoration: none;
  }

  ::placeholder {
    color: rgba(#9f9f9f, 0.9);
  }

  .text-muted-light {
    color: #d4d3c3;
  }
  .form-control {
    background-color: #333333;
    border: none;
    padding: 0.8rem;
  }
  .card-overlay {
    background: rgba(black, 0.6);
    // height: 100vh;
  }

  .form {
    background-color: rgba(black, 0.7);
    min-width: 460px;
    min-height: 660px;
  }
  .footer {
    background-color: rgba(black, 0.7);
    color: #737165;
    // width: 100vw;
  }
}
